.kutu {width:200px;
       height:100%;
      background-color:#FFFF00;
  text-align:center;     
	  outline-style:outset;
       outline-width:3px; 
       	ont-face:'verdana'; 
	     outline-color:red;  
	  margin-left:19px;
	  color:red;
	  } 
  .kutu2 {
    border:10px solid #800080;
    margin-left:10px;
    width:200px;
    height :300px;}

.kutu3{position: relative; top: 220px ;text-align:center;
margin-left:37%;
margin-right:auto;
text-overflow:ellipsis;
width:250px;
       height:45px;
      background-color:#FFFF00;
	  outline-style:outset;
       outline-width:3px; 
       	ont-face:'verdana'; 
	     outline-color:red; 
	  color:red;}
	@media (max-width:400px){

  .kutu2 {width:106px;height :160px;}
    .kutu3{top: 120px ;margin-left:25%;}
    .kutu{width: 100px}
}