.kutu {width:200px;
       height:100%;
      background-color:#FFFF00;
  text-align:center;     
	  outline-style:outset;
       outline-width:3px; 
       	ont-face:'verdana'; 
	     outline-color:red;  
	  margin-left:9%;
	  color:red;
	  } 
  .kutu2 {
    border:10px solid #800080;
    margin-left:10px ;
    width:200px;
    height :300px;}
    

.kutu3{position: relative; top: 220px ;text-align:center;
margin-left:37%;
margin-right:auto;
text-overflow:ellipsis;
width:250px;
       height:45px;
      background-color:pink;
	  outline-style:outset;
       outline-width:3px; 
       	ont-face:'verdana'; 
	     outline-color:red; 
	  color:black;}
	
@media (max-width:500px){
  .kutu2 {width:106px;height :160px;}
    .kutu3{top: 60px ; margin-left:20%;}
    .kutu{width: 100px;margin-left:17%;}
.baslik{font-size:25px;}
}
body{background: #232323;}
.f1{width:30%;
height:100%;margin-right: 4%;float:right;
margin-top : 7%;
outline-width:6px; 
outline-color: pink;
outline-style:outset;
}
.baslik{
margin-left:20%;
      width:40%;

background-color:#FFFF00;
  text-align:center;     
	  outline-style:outset;
       outline-width:3px; 
       	ont-face:'verdana'; 
	     outline-color:red;  
	  
	  color:red;
}