.kutu {width:100px;
       height:100%;
      background-color:#FFFF00;
  text-align:center;     
   outline-style:outset;
       outline-width:3px; 
        ont-face:'verdana'; 
      outline-color:red;  
   margin-left:17px;
   color:red;
   } 
  .kutu2 {
    border:5px solid #800080;
margin-left:10px;
    width:106px;
    height :160px;}

.kutu3{position: relative; top: 120px ;text-align:center;
margin-left:25%;
margin-right:auto;
text-overflow:ellipsis;
width:250px;
       height:45px;
      background-color:#FFFF00;
   outline-style:outset;
       outline-width:3px; 
        ont-face:'verdana'; 
      outline-color:red; 
   color:red;}