.kutu {width:200px;
       height:100%;
      background-color:#FFFF00;
  text-align:center;     
	  outline-style:outset;
       outline-width:3px; 
       	ont-face:'verdana'; 
	     outline-color:red;  
	  margin-left:9%;
	  color:red;
	  } 
  .kutu2 {
    border:10px solid #800080;
    margin-left:10px ;
    width:200px;
    height :300px;}
    

.kutu3{position: relative; top: 220px ;text-align:center;
margin-left:37%;
margin-right:auto;
text-overflow:ellipsis;
width:250px;
       height:45px;
      background-color:pink;
	  outline-style:outset;
       outline-width:3px; 
       	ont-face:'verdana'; 
	     outline-color:red; 
	  color:black;}
	
@media (max-width:400px){
  .kutu2 {width:106px;height :160px;}
    .kutu3{top: 120px ; margin-left:25%;}
    .kutu{width: 100px}
    .w3-responsive{overflow-x:auto;margin-top:80px;margin-bottom:-60px}
.w3-responsive2{overflow-x:auto;margin-top:80px;}
}
body{background: #232323;}
.f1{width:30%;
height:100%;margin-right: 4%;float:right;
margin-top : 5%;
outline-width:6px; 
outline-color: pink;
outline-style:outset;
}
.baslik{
margin-left:20%;
      width:40%;

background-color:#FFFF00;
  text-align:center;     
	  outline-style:outset;
       outline-width:3px; 
       	ont-face:'verdana'; 
	     outline-color:red;  
	  
	  color:red;
}