body{background: #232323}
	.baslik{
margin-left:20%;
      width:40%; 
      margin-top: 8%;
      font-size:25px;

background-color:#FFFF00;
  text-align:center;     
	  outline-style:outset;
       outline-width:3px; 
       	ont-face:'verdana'; 
	     outline-color:red; 
	  
	  color:red;
}
.f1{width:30%;
height:100%;margin-right: 4%;float:right;
margin-top : 7%;
outline-width:6px; 
outline-color: pink;
outline-style:outset;
}
.bolum{margin-left:20%;
      width:250px; height: 40px;
      margin-top: 70px;

background-color:#FFFF00;
  text-align:center;     
	  outline-style:outset;
       outline-width:3px; 
       	
	     outline-color:black; 
	  
	overflow-x:none; overflow: auto; 
	  color:red;
}
@media (min-width:500px){
	.baslik{font-size: xx-large}}